NEXT_PUBLIC_SSO_BASE_URL=http://localhost:8200
NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000
NEXT_PUBLIC_APP_A_URL=http://localhost:3001
NEXT_PUBLIC_APP_B_URL=http://localhost:8300
SSO_INTERNAL_TOKEN_URL=http://localhost:8200/token
SSO_INTERNAL_JWKS_URL=http://localhost:8200/jwks
SSO_INTERNAL_ADMIN_API_URL=http://localhost:8200/admin/api
SSO_FRONTEND_REDIS_URL=redis://localhost:6379/6
ENABLE_E2E_COOKIE_PROBE=0
