ZITADEL_DOMAIN=localhost
PROXY_HTTP_PUBLISHED_PORT=8080
ZITADEL_EXTERNALPORT=8080
ZITADEL_EXTERNALSECURE=false
ZITADEL_PUBLIC_SCHEME=http
ZITADEL_MASTERKEY=MasterkeyNeedsToHave32Characters
LOGIN_CLIENT_PAT_EXPIRATION=2099-01-01T00:00:00Z
ZITADEL_VERSION=v4.11.0
TRAEFIK_IMAGE=traefik:v3.6.8
POSTGRES_IMAGE=postgres:17.2-alpine
REDIS_IMAGE=redis:7.4.2-alpine
POSTGRES_DB=zitadel
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=postgres
ZITADEL_DATABASE_POSTGRES_DSN=postgresql://postgres:postgres@postgres:5432/zitadel?sslmode=disable
TRAEFIK_DASHBOARD_ENABLED=false
TRAEFIK_LOG_LEVEL=INFO
TRAEFIK_ACCESSLOG_ENABLED=true
ZITADEL_ACCESS_LOG_STDOUT_ENABLED=true
ZITADEL_CACHES_CONNECTORS_REDIS_ENABLED=true
ZITADEL_CACHES_CONNECTORS_REDIS_URL=redis://redis:6379/0
ZITADEL_CACHES_INSTANCE_CONNECTOR=redis
ZITADEL_CACHES_MILESTONES_CONNECTOR=redis
ZITADEL_CACHES_ORGANIZATION_CONNECTOR=redis

SSO_BACKEND_PORT=8200
SSO_FRONTEND_PORT=3000
SSO_ADMIN_VUE_BASE_PATH=/__vue-preview
APP_A_PORT=3001
APP_B_PORT=8300
SSO_BACKEND_DB=sso_backend
APP_B_DB=app_b
SSO_BASE_URL=http://localhost:8200
SSO_ISSUER=http://localhost:8200
SSO_INTERNAL_BASE_URL=http://sso-backend:8000
SSO_RESOURCE_AUDIENCE=sso-resource-api
ZITADEL_ISSUER=http://localhost:8080
ZITADEL_BROKER_PUBLIC_ISSUER=http://localhost:8080
ZITADEL_BROKER_INTERNAL_ISSUER=http://zitadel-api:8080
ZITADEL_BROKER_CLIENT_ID=prototype-sso-broker
ZITADEL_BROKER_CLIENT_SECRET=prototype-broker-secret
ZITADEL_BROKER_REDIRECT_URI=http://localhost:8200/callbacks/zitadel
ZITADEL_BROKER_SCOPE="openid profile email offline_access"
OIDC_SIGNING_ALG=ES256
OIDC_ACCESS_TOKEN_TTL=15
OIDC_ID_TOKEN_TTL=15
OIDC_REFRESH_TOKEN_TTL_DAYS=30
APP_A_BASE_URL=http://localhost:3001
APP_A_REDIS_URL=redis://redis:6379/1
APP_A_CLIENT_ID=prototype-app-a
APP_A_REDIRECT_URI=http://localhost:3001/auth/callback
APP_A_POST_LOGOUT_REDIRECT_URI=http://localhost:3001
APP_A_BACKCHANNEL_LOGOUT_URI=http://app-a-next:3000/api/backchannel/logout
APP_B_CLIENT_ID=prototype-app-b
APP_B_CLIENT_SECRET=$argon2id$v=19$m=65536,t=4,p=2$ZjNtVWMyRU9CaGpXRC9KdQ$aAFtv2QqNWt5R7vaczlAkg8wW9z3Yx8ylFJitt5Tbac
APP_B_REDIRECT_URI=http://localhost:8300/auth/callback
APP_B_POST_LOGOUT_REDIRECT_URI=http://localhost:8300
APP_B_BACKCHANNEL_LOGOUT_URI=http://app-b-laravel:8000/auth/backchannel/logout
RESOURCE_API_BASE_URL=http://sso-backend:8000
