{
    frankenphp
    auto_https off
}

:8000 {
    root * /app/public
    encode zstd gzip

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer
        Permissions-Policy "camera=(), microphone=(), geolocation=(), payment=()"
        -Server
    }

    php_server
}
